.example-icon {
    padding: 0 14px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .icon-display {
    transform: scale(1.5);
  }

  .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }