<div>
    <mat-toolbar color="warn">
        <mat-toolbar-row>
            <button mat-button [routerLink]="['']" routerLinkActive="router-link-active">
                SocialNetwork
            </button>
            <span class="spacer"></span>
            <mat-form-field>
                <input matInput placeholder="Find.." />
            </mat-form-field>
            <button mat-button>
                <mat-icon>search</mat-icon>
            </button>
            <span class="spacer"></span>
            <button mat-button> Upload
                <mat-icon>cloud_upload</mat-icon>
            </button>
            <span class="spacer"></span>
            {{profile.name}}
            <button mat-button>
                <img src={{profile.url}} class="avatar">
            </button>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <span class="spacer"></span>
            <button mat-button [routerLink]="['/videos']" routerLinkActive="router-link-active">
                Videos
            </button>
            <span class="spacer"></span>
            <button mat-button [routerLink]="['/people']" routerLinkActive="router-link-active">
                People
            </button>
            <span class="spacer"></span>
            <button mat-button [routerLink]="['/documents']" routerLinkActive="router-link-active">
                Documents
            </button>
            <span class="spacer"></span>
            <button mat-button>
                Events
            </button>
            <span class="spacer"></span>
            <button mat-button>
                Communities
            </button>
            <span class="spacer"></span>
            <button mat-button>
                Favorites
            </button>
            <span class="spacer"></span>
            <button mat-button [routerLink]="['/channels']" routerLinkActive="router-link-active">
                Channels
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>