<mat-drawer-container>
    <mat-drawer-content>
        <app-videos></app-videos>
        <mat-divider></mat-divider>
        <app-people></app-people>
        <mat-divider></mat-divider>
        <app-documents></app-documents>
    </mat-drawer-content>
    <mat-drawer mode="side" position="end" opened>
        <app-activities></app-activities>
        <mat-divider></mat-divider>
        <app-channels></app-channels>
    </mat-drawer>
</mat-drawer-container>