<mat-toolbar color="warn">
    <button mat-button [routerLink]="['/channels']" routerLinkActive="router-link-active">
        Channels
    </button>
</mat-toolbar>
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile *ngFor="let channel of channels">
        <img src={{channel.url}} width="200" height="400">
        <mat-grid-tile-footer>
            {{channel.title}}
        </mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-animations></app-animations>
    </mat-grid-tile>
</mat-grid-list>