<mat-toolbar color="warn">
    <button mat-button [routerLink]="['/videos']" routerLinkActive="router-link-active">
        Videos
    </button>
</mat-toolbar>
<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile *ngFor="let video of videos" [colspan]="video.cols" [rowspan]="video.rows"
        [style.background]="video.color">
        <iframe src="https://www.youtube.com/embed/pXRviuL6vMY" frameborder="0" width="900" height="900"
            allowfullscreen>
        </iframe>
        <mat-grid-tile-footer>
            {{video.title}}
        </mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-animations></app-animations>
    </mat-grid-tile>
</mat-grid-list>