<div>
    <mat-toolbar color="warn">
        <mat-toolbar-row>
            <span></span>
            <img src="https://img.icons8.com/color/48/000000/twitter-squared.png" />
            <span></span>
            <img src="https://img.icons8.com/color/48/000000/linkedin.png" />
            <span></span>
            <img src="https://img.icons8.com/color/48/000000/facebook.png" />
        </mat-toolbar-row>
        <mat-toolbar-row>
            <span></span>
            <button mat-button>
                About
            </button>
            <span></span>
            <button mat-button>
                For Business
            </button>
            <span></span>
            <button mat-button>
                Suggestions
            </button>
            <span></span>
            <button mat-button>
                Help&FAQs
            </button>
            <span></span>
            <button mat-button>
                Contacts
            </button>
            <span></span>
            <button mat-button>
                Pricing
            </button>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <span></span>
            <button mat-button>
                Privacy
            </button>
            <span></span>
            <button mat-button>
                Terms
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>