<mat-toolbar color="warn">
    <button mat-button [routerLink]="['/people']" routerLinkActive="router-link-active">
        People
    </button>
</mat-toolbar>
<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile *ngFor="let people of peoples" [colspan]="people.cols" [rowspan]="people.rows">
        <img src={{people.url}} width="200" height="400">
        <mat-grid-tile-footer>
            {{people.name}}
        </mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-animations></app-animations>
    </mat-grid-tile>
</mat-grid-list>