<mat-accordion color="warn">
    <mat-expansion-panel showToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <b>Activities</b>
            </mat-panel-title>
            <p>View Timeline (click me)</p>
        </mat-expansion-panel-header>
        <mat-selection-list [multiple]="false">
            <mat-list-option *ngFor="let activity of activities">
                <img mat-list-avatar src={{activity.pUrl}} width="50" height="50">
                <h3 mat-line><b>{{activity.name}}</b></h3>
                <div mat-line>
                    <mat-icon mat-list-icon>{{activity.icon}}</mat-icon>{{activity.notify}}
                </div>
                <p mat-line><span>{{activity.title}}</span></p>
                <div mat-line>
                    {{activity.time}}
                </div>
            </mat-list-option>
        </mat-selection-list>
    </mat-expansion-panel>
</mat-accordion>