.spacer {
    flex: 1 1 auto;
  }
  mat-grid-tile {
      background: #F44336;
    }
    html {
      min-height: 100%;
  }
  body {
      height: 100%;
      margin: 0px;
      font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  .mat-selection-list {
    background-color: white;
}