<mat-toolbar color="warn">
    <button mat-button [routerLink]="['/documents']" routerLinkActive="router-link-active">
        Documents
    </button>
</mat-toolbar>
<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile *ngFor="let document of documents" [colspan]="document.cols" [rowspan]="document.rows">
        <img src={{document.url}} width="1000" height="500">
        <mat-grid-tile-footer>
            {{document.title}}
        </mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-animations></app-animations>
    </mat-grid-tile>
</mat-grid-list>